body {
    background-color: #111;
    text-align: center;
    color: lime;
    font-family: courier;
    font-size: 1.5em;
}

.left { text-align: left;}
.inline { display: inline-block; }
  
#wrap {
    width: 60vw;
    margin: 25px auto;
}

#logo {
    padding: 10px;
    border: solid 2px;
    width: 40vw;
    margin: 25px auto;
}  

.lime-box {
    width: 50px;
    height: 50px;
    background-color: lime;
    display: inline-block;
    margin: 5px;
}

#spin-shapes {
    border: solid 1px;
    height: 75px;
    padding: 10px;
    height: 80vh;
    min-height: 480px;
}

#shapomatic {
    height: 150px;
}
.shapo-row {
    background-color: lime;
    margin: 0px auto;
}
.shapo-row.highlighted, .shapo-col.highlighted {
    text-shadow: 0px -2px 5px;
    text-decoration: line-through;
}

.shapo-col {
  border: solid 1px;
  background-color: #111;
  padding-top: 5px;
}
#spin-button {
    background-color: lime;
    color: #111;
    border-radius: 20px;
    opacity: 0.7;
    margin-bottom: 15px;
    padding: 10px;
}

#auto-button {
    display: block;
    margin-top: -10px;
    background-color: lime;
    color: #111;
    font-size: 0.75rem;
}

#machine-logo {
    font-variant: small-caps;
    letter-spacing: 0.8em;
}

#spin-button:hover, #auto-button:hover { opacity: 1; }

#tower-arena {
    border: solid 2px;
    padding: 5px;
    height: 80vh;
    min-height: 480px;
}

.scroll-hidden { overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none; }
.scroll-hidden::-webkit-scrollbar { width: 0; height: 0; }

/* Shapes */
.triangle, .rectangle, .circle { margin: 5px; display: inline-block; }
.rectangle, .circle { background-color: lime; }
.tower-shape { margin: 0 }
